* {
    padding: 10px;
    margin: 10px;
}
h1 {
    color: #4550F0;
    background-color: #3398F8;
    position: relative;
}
.quote {
    font-style: oblique;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#leftnav {
    border: 1px solid black; 
    position: relative; 
    width: 150px;
    background-color: #FF6698;
}


